@page "/cart"
@using ASMC6P.Shared.Entities
@using ASMC6P.Shared.Dtos
@using System.Text.Json
@inject ISnackbar snackbar

<h3>Cart</h3>

<MudTable Items="@cartProducts" MultiSelection="true" Dense="false" Hover="true" ReadOnly="false" @bind-SelectedItems="selectedItems" CanCancelEdit="true" Filter="new Func<CartProductDto,bool>(FilterFunc)"
          @bind-SelectedItem="selectedItem1" SortLabel="Sort By" CommitEditTooltip="Commit Edit" 
          OnCommitEditClick="@(() => snackbar.Add("Commit Edit Handler Invoked"))" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
          RowEditCommit="ItemHasBeenCommitted" IsEditRowSwitchingBlocked="false" ApplyButtonPosition="@applyButtonPosition" EditButtonPosition="@editButtonPosition" EditTrigger="@editTrigger">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Periodic CartProductDtos</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<CartProductDto, object>(x => x.Name)">Ảnh</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CartProductDto, object>(x => x.Name)">Tên</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CartProductDto, object>(x => x.Price)">Giá</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CartProductDto, object>(x => x.Quantity)">Số lượng</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Ảnh"><MudImage Src="@context.ImageUrl" Style="height: 200px;width: 100px; margin: 1vi;"></MudImage></MudTd>
        <MudTd DataLabel="Tên">@context.Name</MudTd>
        <MudTd DataLabel="Giá">@context.Price</MudTd>
        <MudTd DataLabel="Số lượng">@context.Quantity</MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd DataLabel="Ảnh">
            <MudTextField @bind-Value="@context.ImageUrl" Required Disabled="true" />
        </MudTd>
        <MudTd DataLabel="Tên">
            <MudTextField @bind-Value="@context.Name" Required Disabled="true" />
        </MudTd>
        <MudTd DataLabel="Giá">
            <MudNumericField @bind-Value="@context.Price" Required  Disabled="true" />
        </MudTd>
        <MudTd DataLabel="Số lượng">
            <MudNumericField @bind-Value="@context.Quantity" Required Min="1" />
        </MudTd>
    </RowEditingTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
    <EditButtonContent Context="button">
        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="false" />
    </EditButtonContent>
   

</MudTable>
        <MudButton Variant="Variant.Filled" Style="justify-items: left" Size="@Size.Large"  Color="Color.Error" OnClick="RemoveItemCartItem"> Xóa </MudButton>
        <MudButton Variant="Variant.Filled" Style="justify-items: right" Size="@Size.Large"  Color="Color.Success" OnClick="Order">Đặt hàng</MudButton>

@code {
    private List<string> editEvents = new();
    private string searchString = "";
    private CartProductDto selectedItem1 = null;
    private CartProductDto CartProductDtoBeforeEdit;
    private HashSet<CartProductDto> selectedItems = new HashSet<CartProductDto>();
    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;
    private TableEditButtonPosition editButtonPosition = TableEditButtonPosition.End;
    private TableEditTrigger editTrigger = TableEditTrigger.RowClick;
    private List<CartProductDto> cartProductDto = new List<CartProductDto>();

    protected override async Task OnInitializedAsync()
    {
        cartProducts = await _cartService.GetCartProducts();
    }

    

    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }

    private void BackupItem(object cartProductDto)
    {
        CartProductDtoBeforeEdit = new()
        {
            ImageUrl = ((CartProductDto)cartProductDto).ImageUrl,
            Name = ((CartProductDto)cartProductDto).Name,
            Price = ((CartProductDto)cartProductDto).Price,
            Quantity = ((CartProductDto)cartProductDto).Quantity
        };
        AddEditionEvent($"RowEditPreview event: made a backup of CartProductDto {((CartProductDto)cartProductDto).Name}");
    }

    private async void RemoveItemCartItem()
    {
        foreach (var VARIABLE in selectedItems.ToList())
        {
            await _cartService.RemoveProductFromCart(VARIABLE.ProductId);
        }
        cartProducts = await _cartService.GetCartProducts();
    }

    private async void ItemHasBeenCommitted(object cartProductDto)
    {
        await _cartService.UpdateQuantity((CartProductDto)cartProductDto);
        cartProducts = await _cartService.GetCartProducts();
        AddEditionEvent($"RowEditCommit event: Changes to CartProductDto {((CartProductDto)cartProductDto).Name} committed");
    }

    private void ResetItemToOriginalValues(object CartProductDto)
    {
        ((CartProductDto)CartProductDto).ImageUrl = CartProductDtoBeforeEdit.ImageUrl;
        ((CartProductDto)CartProductDto).Name = CartProductDtoBeforeEdit.Name;
        ((CartProductDto)CartProductDto).Price = CartProductDtoBeforeEdit.Price;
        ((CartProductDto)CartProductDto).Quantity = CartProductDtoBeforeEdit.Quantity;
        AddEditionEvent($"RowEditCancel event: Editing of CartProductDto {((CartProductDto)CartProductDto).Name} canceled");
    }

    private bool FilterFunc(CartProductDto CartProductDto)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (CartProductDto.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{CartProductDto.Price} {CartProductDto.Quantity}".Contains(searchString))
            return true;
        return false;
    }

    List<CartProductDto> cartProducts { get; set; } = new List<CartProductDto>();

    void Order()
    {
        _cartService.SelectItems = selectedItems.ToList();
        string jsonString = JsonSerializer.Serialize(selectedItems.ToList());
        string url = "/create-order?objects=" + Uri.EscapeDataString(jsonString);
        _navigationManager.NavigateTo(url);
    }

}
